<!DOCTYPE html>
<html style="height: 100%;background-color: #29bc98">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/study.css" type="text/css">
    <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
</head>
<body style="background-color: #29bc98;">
<!--<div class="condition-content">
    <div class="condition-title">
        <h4 class="title-font">查询医院申请网站首页查询医院申请网站首页</h4>
        <img src="../images/icon-1@2x.png" class="title-icon">
    </div>
    <div class="key">
        <h2 class="title-content">没有申请记录</h2>
        <div class="content-box">
            <p class="in-apply">欢迎您进入医院申请网站申请进修班</p>
        </div>
        <div class="key-footer">
            <p>北京积水潭医院</p>
        </div>
    </div>
</div>
&lt;!&ndash;第二个状态&ndash;&gt;
<div class="condition-content">
    <div class="condition-title">
        <h4 class="title-font">查询医院申请网站首页查询医院申请网站首页</h4>
        <img src="../images/icon-1@2x.png" class="title-icon">
    </div>
    <div class="key">
        <h2 class="title-content">未提交申请表</h2>
        <div class="content-box">
            <p class="until-date">截止日期：2012年12月10日</p>
            <p class="in-apply">欢迎您进入医院申请网站申请进修班</p>
        </div>
        <div class="key-footer">
            <p>北京积水潭医院</p>
        </div>
    </div>
</div>
&lt;!&ndash;第三个状态&ndash;&gt;
<div class="condition-content">
    <div class="condition-title">
        <h4 class="title-font">查询医院申请网站首页查询医院申请网站首页</h4>
        <img src="../images/icon-1@2x.png" class="title-icon">
    </div>
    <div class="key">
        <h2 class="title-content">被延期到以下进修班</h2>
        <div class="study-content-box">
            <p class="until-date">【2015】医师系列口腔正畸（协作单位6个月）哦ID烦得很速度很快啥都会喀什的国际手机端卡死打瞌睡的是电话费</p>
            <div class="study study-no">暂不进修<div class="black-model"></div></div>
            <div class="study study-yes">确认进修<div class="black-model"></div></div>
        </div>
        <div class="key-footer">
            <p>北京积水潭医院</p>
        </div>
    </div>
</div>-->
<!--<div class="apply-footer">
    <p>北京丛林网络技术有限责任公司</p>
    <p>服务电话: 4000687626 服务邮件: service@conglinnet.com </p>
</div>-->
<script type="text/javascript" src="../javascripts/condition.js"></script>
</body>
</html>