<!DOCTYPE html>
<html style="height: 100%;background-color: #29bc98">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/study.css" type="text/css">
    <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
</head>
<body style="background-color: #29bc98;color: #FFF;">
<!--<div class="detail-top">
    <h3 class="detail-top-1">2016年小儿骨科进修班第一期</h3>
    <p>申请截止:<span>2015-10-02</span></p>
    <p>发榜日期:<span>2015-10-02</span></p>
    <p>报道日期:<span>2015-10-02</span></p>
    <p>结业日期:<span>2015-10-02</span></p>
    <p>进修时间:<span>6</span>个月</p>
    <p>进修费用:<span>6000</span>元</p>
</div>
<div class="detail-content">
    <p>北京积水潭医院小儿骨科是在我国骨科界前辈孟继懋教授的大力倡导下于1964年成立的，
        全面开展14岁以下儿童和青少年创伤、髋关节疾患、各种发育性及先天性畸形、各类肢体不等长和力
        线异常、骨骼发育疾患、足部疾患、骨骺损伤及其后遗畸形、儿童骨与软组织肿瘤的诊治。历经50年的
        工作和几代人的努力，目前已发展成为国内规模最大，专业涉猎最广且诊治水平国内领先并具有国际水
        准的专业科室。
        小儿骨科现有医生27人，护理人员36人，医护人员结构合理，梯队建设已具规模。目前拥有2个病区，
        86张病床。全天普通、专家及特需门诊，24小时开放的独立急诊。年门急诊量达8万之多，年手术量可达3000台以上。
    </p>
</div>-->
<script src="../javascripts/detail.js"></script>
</body>
</html>