<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/study.css" type="text/css">
    <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
    <script type="application/javascript" src="../javascripts/fastclick.js"></script>
    <script type="text/javascript">
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function () {
                FastClick.attach(document.body);
            }, false);
        }
    </script>
</head>
<body>
<div class="icon-out-box">
    <div class="icon-in-box">
        <img src="../images/logo@2x.png" style="height: 100%">
    </div>
</div>
<div class="apply-font">
    <h2>医生进修申请服务</h2>
</div>
<div class="apply-font-and-line">
    <img src="../images/3.png">
</div>
<form action="" method="post" id="submit"></form>
<input class="_input" type="tel" form="submit" id="tel" placeholder="手机号码"><br>
<input class="_input" type="password" form="submit" id="password" placeholder="新密码">
<input class="_input" type="text" form="submit" id="code" placeholder="验证码">
<!--<button type="button" class="code" onclick="getCode()">获取验证码</button>-->
<button class="code" id="btn" onclick="getCode();" value="获取验证码">获取验证码</button>
<div style="clear: both"></div>
<div class="registerBtn" id="submit-button" onclick="login();" style="margin-top: 0">修改密码
    <div class="black-model"></div>
</div>
<!--<button type="submit" form="submit" id="submit-button" onclick="">登录</button>-->
<div class="apply-footer">
    <p>北京丛林网络技术有限责任公司</p>
    <p>服务电话: 4000687626 服务邮件: service@conglinnet.com </p>
</div>

<script type="text/javascript" src="../javascripts/login.js"></script>
<script type="text/javascript" src="../javascripts/replacePassword.js"></script>
</body>
</html>